.currency-app {
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 98vh;
	min-width: 380px;
}

.currency-search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% - 10px);
	margin-bottom: 20px;
}

.currency-text {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.currency-input {
	padding-left: 16px;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: 2px solid #000;
	color: #000;
}

.currency-input:focus {
    background-color: #F8F8F8;
}

.currency-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y:auto;
	width: calc(100% - 10px);
	min-height: 300px;
}

.currency-button {
	background-color: #4CAF50;
	border: 1px solid rgba(27, 31, 35, .15);
	color: white;
	border-radius: 6px;
	padding: 5px 16px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 5px;
	width: calc(100% - 10px);
	cursor: pointer;
}

.currency-button:hover {
	background-color: #000;
}

.selected-button {
  background-color: #000;
  cursor: default;
}

.currency-row {
	display: flex;
	flex-direction: row;
	height: 50px;
	padding-right: 10%;
	min-width: 200px;
	width: 100%;
	text-align: left;
	align-items: center;
}

.currency-name {
	font-size: 16px;
	min-width: 100px;
}

.currency-row img {
	height: 30px;
	width: 30px;
	margin-right: 10%;
}

.currency-symbol {
	margin-left: 5px;
	text-transform: uppercase;
	text-align: left;
	min-width: 50px;
}

.currency-price {
	text-align: left;
	margin-left: 50px;

}

.currency-list::-webkit-scrollbar {
  width: 8px;
}

.currency-list::-webkit-scrollbar-track {
  background: #A0A0A0; 
}
 
.currency-list::-webkit-scrollbar-thumb {
  background: #505050; 
}

.currency-list::-webkit-scrollbar-thumb:hover {
  background: #303030; 
}